<% content_for :title, "New inventory unit" %>

<h1>New inventory unit</h1>

<%= render "form", inventory_unit: @inventory_unit %>

<br>

<div>
  <%= link_to "Back to inventory units", inventory_units_path %>
</div>
